system:
  env: public
  addr: 5001
  db-type: mysql
  oss-type: aliyun
  sms-type: aliyun
  use-multipoint: false
  iplimit-count: 15000
  iplimit-time: 3600
  download-url: "downloads"
  base-path: yourBasePath

# 阿里云OSS
aliyun-oss:
  endpoint: ""
  access-key-id: ""
  access-key-secret: ""
  bucket-name: ""
  bucket-url: ""
  base-path: ""